SNOWFLAKE_ACCOUNT=test

# Snowflake credentials (for direct Snowflake runs)
SNOWFLAKE_USER=test
SNOWFLAKE_PASSWORD=test

# Embucket credentials (for Embucket runs)
EMBUCKET_USER=embucket
EMBUCKET_PASSWORD=embucket

WAREHOUSE=COMPUTE_WH
DATABASE=embucket
SCHEMA=public
RESET_DB=false

# Embucket Configuration
EMBUCKET_ENABLED=true
EMBUCKET_PROTOCOL=http
EMBUCKET_HOST=localhost
EMBUCKET_PORT=3000